<!DOCTYPE html>
<html>
<head>
    <title>Python</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">

        <script  src="/js/jquery-3.2.0.min.js"></script>
        <script  src="/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Python</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="pager pull-left">
                <li class="previous"><a onclick="page--;get()"><span aria-hidden="true">&larr;</span> Older</a></li>
            </ul>
            Seite <span class="badge" id="site"></span> Pro Seite <span class="badge" id="perPage"></span> Gesamt <span class="badge" id="total"></span>
            <ul class="pager pull-right">
                <li class="next"><a onclick="page++;get()">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Zeit</th>
            <th>Ort</th>
            <th>Messwert</th>
            <th>Einheit</th>
        </tr>
        </thead>
        <tbody id="table">

        </tbody>
    </table>
</div>
</body>
</html>
<script>

    var page = 1;
    var itemsPerPage = 50;

    var last = 1;
    var first = 1;

    get();
    function get(){


        $.ajax("/api/readings",{
            data: {
                page: page,
                itemsPerPage: itemsPerPage
            },
            success: function(result){
                $("#site").html(result.page);
                $("#perPage").html(result.itemsPerPage);
                $("#total").html(result.total);

                var table = $("#table");
                table.html("");

                for(var i = 0;i < result.results.length;i++){
                    var aResult = result.results[i];

                    table.append("<tr>" +
                        "<td>"+aResult.datetime+"</td>" +
                        "<td>"+aResult.identifer+"</td>" +
                        "<td>"+aResult.value+"</td>" +
                        "<td>"+aResult.unit+"</td>"
                    )

                }

                last = Math.ceil(result.total/resut.itemsPerPage);

                if(result.page >= last){
                    $(".next").addClass("disabled");
                    $(".previous").removeClass("disabled");
                }
                else if(result.page <= first){
                    $(".previous").addClass("disabled");
                    $(".next").removeClass("disabled");
                }



            },
            error: function(jqXHR, textStatus, errorThrown){

            },
            method: "GET"
        });
    }
</script>