{% extends "main.twig" %}

{% block content %}
    <div class="container-fluid" id="summary">
    </div>
    <script>
        $.ajax("/api/locations",{

            success: function(result){

                for(var i = 0;i < result.length;i++){
                    var aResult = result[i];

                    $("#summary").append("<div class='panel panel-default'><div class='panel-heading'>"+aResult.identifer+"</div><div class='panel-body' id='body-"+aResult.id+"'></div></div>")
                    getSummary(aResult.id)
                }
            },
            error: function(jqXHR, textStatus, errorThrown){

            },
            method: "GET"
        });


        function getSummary(id)
        {
            var body = $("#body-"+id);

            $.ajax("/api/summary/"+id,{

                success: function(result){

                    for(var i in result){
                        var aResult = result[i];

                        body.append("<div class='col-md-4'>"+i+"</div>")
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){

                },
                method: "GET"
            });

        }
    </script>
{% endblock %}