{% extends "main.twig" %}

{% block content %}
    <div class="container-fluid" id="summary">
    </div>
    <script>
        var mapping = {
            temperature: {
                unit: "°C",
                identifer: "Temperatur"
            },
            humidity: {
                unit: "%",
                identifer: "Luftfeuchtigkeit"
            },
            pressure: {
                unit: "mBar",
                identifer: "Luftdruck"
            }
        };

        $.ajax("/api/locations",{

            success: function(result){

                for(var i = 0;i < result.length;i++){
                    var aResult = result[i];

                    $("#summary").append("<div class='panel panel-default'><div class='panel-heading'>"+aResult.identifer+"</div><div class='panel-body' id='body-"+aResult.id+"'></div></div>")

                    setInterval(getSummary(aResult.id),1000)
                }
            },
            error: function(jqXHR, textStatus, errorThrown){

            },
            method: "GET"
        });


        function getSummary(id)
        {
            var body = $("#body-"+id);

            $.ajax("/api/summary/"+id,{

                success: function(result){

                    body.html("");

                    for(var i in result){
                        var aResult = result[i];

                        body.append("<div class='col-md-4'>" +
                            "<h3>"+mapping[i].identifer+"</h3>" +
                            "<b>Max:</b> "+parseFloat(aResult.max).toFixed(2)+mapping[i].unit+"<br>" +
                            "<b>Min:</b> "+parseFloat(aResult.min).toFixed(2)+mapping[i].unit+"<br>" +
                            "<b>Avg:</b> "+parseFloat(aResult.avg).toFixed(2)+mapping[i].unit+"<br>" +
                            "<br>" +
                            "<canvas id='myChart-"+i+"-"+id+"' ></canvas>" +
                            "</div>" +
                            "")

                        var ctx = $("#myChart-"+i+"-"+id);

                        var options = {
                            legend: {
                                display: false
                            }
                        };


                        var myLineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: Object.keys(aResult.values),
                                datasets: [{
                                    backgroundColor: '#40FF00',
                                    borderColor: '#088A29',
                                    data: Object.values(aResult.values)
                                }]
                            },
                            options: options
                        });

                    }
                },
                error: function(jqXHR, textStatus, errorThrown){

                },
                method: "GET"
            });

        }
    </script>
{% endblock %}